@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700i&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #012C23;
  font-family: 'Titillium Web', sans-serif;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  background-image: url("../img/backgroundWoman.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 64px 80px 0 80px;
}

@media (max-width: 640px) {
  .nav {
    margin: 32px 32px 0 32px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFC5C1;
}

.nav__item {
  margin: 0 20px;
}

.nav__item:hover {
  border-bottom: 2px solid #FFC5C1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header__mainHeader {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 140px;
  line-height: 100px;
  text-align: center;
  color: #FFC5C1;
  margin: 140px auto 0 auto;
}

@media (max-width: 640px) {
  .header__mainHeader {
    font-size: 56px;
    line-height: 56px;
  }
}

.header__paragraph {
  width: 42.42%;
  margin: 56px auto 0 auto;
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #A7C0BB;
}

@media (max-width: 640px) {
  .header__paragraph {
    font-size: 18px;
    line-height: 26px;
    width: 100%;
    margin: 56px 24px 0 24px;
  }
}

.header__contactButton {
  display: block;
  margin: 24px auto 24px auto;
  padding: 12px 52px;
  background: #FFC5C1;
  border-radius: 8px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #012C23;
  text-transform: uppercase;
}

.ourServices {
  background-color: #FFC5C1;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 140px 40px 0 40px;
  padding: 120px 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 640px) {
  .ourServices {
    border-radius: 0;
    margin: 88px 0 0 0;
    padding: 80px 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: center;
            flex-direction: center;
  }
}

.ourServices__header {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 120px;
  text-align: left;
  color: #012C23;
  -ms-flex-preferred-size: 58%;
      flex-basis: 58%;
}

@media (max-width: 640px) {
  .ourServices__header {
    font-size: 48px;
    line-height: 120px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}

.ourServices__paragraph {
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #654C4A;
}

@media (max-width: 640px) {
  .ourServices__paragraph {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.ourServices__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 21%;
      flex-basis: 21%;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  margin-top: 120px;
}

@media (max-width: 640px) {
  .ourServices__service {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.ourServices__service--infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #012C23;
  padding: 40px 24px;
  border-radius: 16px;
}

.ourServices__icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 640px) {
  .ourServices__icon {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.ourServices__serviceheader {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: #012C23;
  width: 70%;
  margin-top: 24px;
}

.ourServices__serviceheader--infoContainer {
  color: #ffffff;
  margin-top: 0;
  width: 100%;
}

.ourServices__servicedescripton {
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #654C4A;
  margin-top: 8px;
}

.ourServices__servicedescripton--infoContainer {
  color: #FFC5C1;
  margin-top: 110px;
}

.ourServices__readMoreButton {
  font-family: Titillium;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #654C4A;
  background: transparent;
  border: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 24px;
}

@media (max-width: 640px) {
  .ourServices__readMoreButton {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.ourServices__callButton {
  background-color: #FFC5C1;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  margin-top: 10px;
}

.ourServices__callNumber {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  color: #012C23;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  padding: 12px 40px;
}

.aboutMe {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 640px) {
  .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.aboutMe__img {
  -ms-flex-preferred-size: 28.4%;
      flex-basis: 28.4%;
  margin-top: 80px;
  margin-left: 66px;
  z-index: 2;
}

@media (max-width: 640px) {
  .aboutMe__img {
    margin: 0 auto;
  }
}

@media (min-width: 640px) {
  .aboutMe__flexboxContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.aboutMe__header {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 120px;
  color: #FFC5C1;
  margin-top: 192px;
  max-width: 600px;
  position: absolute;
  top: 220px;
  left: 440px;
  margin: 0;
  z-index: 1;
}

@media (max-width: 640px) {
  .aboutMe__header {
    position: relative;
    top: 0;
    left: 0;
    font-size: 48px;
    line-height: 46px;
    text-align: center;
    margin: 120px 40px 0 40px;
  }
}

.aboutMe__paragraph {
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #A7C0BB;
  margin-top: 480px;
  margin-bottom: 160px;
  max-width: 480px;
}

@media (max-width: 640px) {
  .aboutMe__paragraph {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 28px 35px 80px 35px;
  }
}

.priceListContact {
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (max-width: 640px) {
  .priceListContact {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.priceListContact__wrapper {
  width: 50%;
  padding: 120px 64px;
}

@media (max-width: 640px) {
  .priceListContact__wrapper {
    width: 100%;
    padding: 120px 24px;
  }
}

.priceListContact__wrapper--priceList {
  background-color: #FFC5C1;
  border-radius: 16px 0 0 16px;
}

@media (max-width: 640px) {
  .priceListContact__wrapper--priceList {
    font-size: 48px;
    line-height: 46px;
    border-radius: 0;
  }
}

.priceListContact__wrapper--kontakt {
  background-color: #A7C0BB;
  border-radius: 0 16px 16px 0;
}

@media (max-width: 640px) {
  .priceListContact__wrapper--kontakt {
    border-radius: 0;
  }
}

.priceListContact__header {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 120px;
  color: #012C23;
}

.priceListContact__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 48px;
  color: #012C23;
  border-bottom: 1px solid #EBACA7;
}

.priceListContact__paragraph--noBorder {
  border-bottom: 0;
}

.priceListContact__contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
}

@media (max-width: 640px) {
  .priceListContact__contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.priceListContact__contactContainer--changeMargin {
  margin-top: 49px;
}

.priceListContact__span {
  font-weight: bold;
}

.priceListContact__contactParagraph {
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #012C23;
}

.priceListContact__contact, .priceListContact__callNumber {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: #012C23;
  text-decoration: none;
  margin-left: 20px;
}

.priceListContact__callNumber {
  margin: 0;
}

@media (max-width: 640px) {
  .priceListContact__callNumber {
    margin-left: 0;
    margin-top: 12px;
    margin-bottom: 32px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 48px 40px 100px 40px;
}

@media (max-width: 640px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px 30px 57px 30px;
  }
}

@media (max-width: 640px) {
  .footer__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 24px auto 16px auto;
  }
}

.footer__span {
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #FFC5C1;
  margin-left: 20px;
}

@media (max-width: 640px) {
  .footer__span {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 0;
  }
}

.footer__copyrights {
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: right;
  color: #A7C0BB;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 640px) {
  .footer__copyrights {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .mobile {
    display: none;
  }
}

@media (min-width: 640px) {
  .desktop {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */