@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700i&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #012C23;
  font-family: 'Titillium Web', sans-serif;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  background-image: url("../img/backgroundWoman.png");
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 32px 32px 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  z-index: 4;
}

.nav.addNavBcg {
  background-color: #012C23;
}

@media (min-width: 799px) {
  .nav {
    position: relative;
    padding: 0;
    margin: 64px 80px 0 80px;
  }
}

.nav__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav__list {
  display: none;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  list-style: none;
  background-color: #FFC5C1;
}

.nav__list.activeMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 92px;
  left: 0;
  right: 0;
  padding: 40px 40px 0 40px;
  font-size: 24px;
  line-height: 58px;
  text-align: left;
  background-color: #FFC5C1;
  height: auto;
  z-index: 1;
}

@media (min-width: 799px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #FFC5C1;
    position: relative;
    top: 0;
    height: auto;
    background-color: transparent;
    font-size: 20px;
    line-height: 28px;
  }
}

.nav__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 58px;
  color: #000000;
  background-color: #FFC5C1;
}

@media (min-width: 799px) {
  .nav__submenu {
    display: none;
    padding: 40px;
    text-align: left;
    background-color: #FFC5C1;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    border: 0;
  }
}

.nav__linkSubmenu {
  color: #000000;
}

.nav__submenuItem {
  border-top: 1px solid #EBACA7;
}

@media (min-width: 799px) {
  .nav__submenuItem {
    border-top: 0;
  }
}

.nav__item {
  margin: 0 20px;
  border-bottom: 1px solid #EBACA7;
}

@media (min-width: 799px) {
  .nav__item {
    border: 0;
  }
}

@media (min-width: 799px) {
  .nav__item:hover {
    border-bottom: 2px solid #FFC5C1;
  }
}

@media (min-width: 799px) {
  .nav__item:hover .nav__submenu {
    display: block;
    position: absolute;
    top: 30;
    left: 20px;
  }
}

.nav__link--resetStyle {
  color: black;
}

@media (min-width: 799px) {
  .nav__link--resetStyle {
    color: #FFC5C1;
  }
}

.nav__ourServiceLink {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 50px;
}

@media (min-width: 799px) {
  .nav__ourServiceLink {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-top: 0;
  }
}

.nav--noMobileMenu {
  display: none;
}

@media (min-width: 799px) {
  .nav--noMobileMenu {
    display: block;
  }
}

@media (min-width: 799px) {
  .nav--noDesktopMenu {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 799px) {
  .header.header--alignLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header__mainHeader {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 140px;
  line-height: 100px;
  text-align: center;
  color: #FFC5C1;
  margin: 140px 0 0 0;
}

@media (min-width: 799px) {
  .header__mainHeader.header__mainHeader--alignLeft {
    text-align: left;
    font-size: 120px;
    line-height: 120px;
    margin-left: 100px;
  }
}

@media (max-width: 799px) {
  .header__mainHeader {
    font-size: 56px;
    line-height: 56px;
  }
}

.header__paragraph {
  width: 42.42%;
  margin: 56px auto 24px auto;
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #A7C0BB;
}

@media (max-width: 799px) {
  .header__paragraph {
    font-size: 18px;
    line-height: 26px;
    width: 100%;
    margin-top: 56px;
    padding: 0 24px;
  }
}

@media (min-width: 799px) {
  .header__paragraph.header__paragraph--alignLeft {
    text-align: left;
    margin: 56px 0 24px 112px;
  }
}

.header__contactLink:hover {
  cursor: pointer;
  color: blue;
}

.header__contactButton {
  display: block;
  margin: 0 auto;
  padding: 12px 52px;
  background: #FFC5C1;
  border-radius: 8px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #012C23;
  text-transform: uppercase;
}

.header__contactButton:hover {
  color: #E59F9A;
  cursor: pointer;
}

.ourServices {
  background-color: #FFC5C1;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 140px 40px 0 40px;
  padding: 120px 64px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 799px) {
  .ourServices {
    border-radius: 0;
    margin: 88px 0 0 0;
    padding: 80px 24px;
  }
}

.ourServices__header {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 120px;
  text-align: left;
  color: #012C23;
  padding-right: 20px;
  padding-bottom: 79px;
  -ms-flex-preferred-size: 58%;
      flex-basis: 58%;
  border-bottom: 1px solid #EBACA7;
}

@media (max-width: 799px) {
  .ourServices__header {
    font-size: 48px;
    line-height: 120px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    padding-bottom: 0;
    border-bottom: 0;
    padding-right: 0;
  }
}

.ourServices__paragraph {
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #654C4A;
  border-bottom: 1px solid #EBACA7;
  padding-bottom: 79px;
}

@media (max-width: 799px) {
  .ourServices__paragraph {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.ourServices__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 21%;
      flex-basis: 21%;
  min-width: 338px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  margin-top: 120px;
  padding: 0 15px;
}

@media (max-width: 840px) {
  .ourServices__service {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    min-width: auto;
    padding: 0;
  }
}

.ourServices__service--infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #012C23;
  padding: 40px 24px;
  border-radius: 16px;
}

.ourServices__icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 840px) {
  .ourServices__icon {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.ourServices__serviceheader {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: #012C23;
  width: 70%;
  margin-top: 24px;
}

.ourServices__serviceheader--infoContainer {
  color: #ffffff;
  margin-top: 0;
  width: 100%;
}

.ourServices__servicedescripton {
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #654C4A;
  margin-top: 8px;
}

.ourServices__servicedescripton--infoContainer {
  color: #FFC5C1;
  margin-top: 110px;
}

.ourServices__readMoreButton {
  font-family: Titillium;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #654C4A;
  background: transparent;
  border: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 840px) {
  .ourServices__readMoreButton {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.ourServices__readMoreButton:hover {
  color: #5B3B39;
  cursor: pointer;
}

.ourServices__readMoreButton--addMargin {
  margin-left: 12px;
}

.ourServices__callButton {
  background-color: #FFC5C1;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  margin-top: 10px;
}

.ourServices__callNumber {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  color: #012C23;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  padding: 12px 40px;
}

.aboutMe {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 799px) {
  .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.aboutMe__img {
  width: auto;
  height: auto;
  margin-top: 80px;
  margin-left: 66px;
  z-index: 2;
}

@media (max-width: 799px) {
  .aboutMe__img {
    margin: 0 auto;
    width: auto;
    height: auto;
  }
}

.aboutMe__flexboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.aboutMe__header {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 120px;
  color: #FFC5C1;
  margin-top: 192px;
  max-width: 600px;
  position: absolute;
  top: 200px;
  left: 405px;
  margin: 0;
  z-index: 1;
}

@media (max-width: 799px) {
  .aboutMe__header {
    position: relative;
    top: 0;
    left: 0;
    font-size: 48px;
    line-height: 46px;
    text-align: center;
    margin: 120px 40px 0 40px;
  }
}

.aboutMe__paragraph {
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #A7C0BB;
  margin-top: 440px;
  margin-bottom: 80px;
  margin-right: 20px;
  max-width: 520px;
}

@media (max-width: 799px) {
  .aboutMe__paragraph {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 28px 35px 80px 35px;
  }
}

.priceListContact {
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (max-width: 940px) {
  .priceListContact {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.priceListContact__wrapper {
  width: 50%;
  padding: 120px 64px 70px 64px;
}

@media (max-width: 940px) {
  .priceListContact__wrapper {
    width: 100%;
    padding: 120px 24px;
  }
}

.priceListContact__wrapper--priceList {
  background-color: #FFC5C1;
  border-radius: 16px 0 0 16px;
}

@media (max-width: 940px) {
  .priceListContact__wrapper--priceList {
    font-size: 48px;
    line-height: 46px;
    border-radius: 0;
  }
}

.priceListContact__wrapper--kontakt {
  background-color: #A7C0BB;
  border-radius: 0 16px 16px 0;
}

@media (max-width: 940px) {
  .priceListContact__wrapper--kontakt {
    border-radius: 0;
  }
}

.priceListContact__header {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 120px;
  color: #012C23;
}

@media (max-width: 940px) {
  .priceListContact__header {
    text-align: center;
  }
}

.priceListContact__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 48px;
  color: #012C23;
  border-bottom: 1px solid #EBACA7;
}

.priceListContact__paragraph--noBorder {
  border-bottom: 0;
}

.priceListContact__paragraph--pFooter {
  font-size: 14px;
  margin-top: 50px;
  font-weight: bold;
}

.priceListContact__contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 940px) {
  .priceListContact__contactContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.priceListContact__contactContainer--changeMargin {
  margin-top: 49px;
}

.priceListContact__span {
  font-weight: bold;
}

.priceListContact__contactParagraph {
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #012C23;
}

.priceListContact__contact, .priceListContact__callNumber {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: #012C23;
  text-decoration: none;
}

@media (min-width: 940px) {
  .priceListContact__contact, .priceListContact__callNumber {
    margin-left: 20px;
  }
}

.priceListContact__callNumber {
  margin: 0;
}

@media (max-width: 799px) {
  .priceListContact__callNumber {
    margin-left: 0;
    margin-top: 12px;
    margin-bottom: 32px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 48px 40px 100px 40px;
}

@media (max-width: 799px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px 30px 57px 30px;
  }
}

.footer__logo {
  opacity: 0.7;
}

@media (max-width: 799px) {
  .footer__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 24px auto 16px auto;
    opacity: 1;
  }
}

.footer__logo:hover {
  opacity: 1;
}

.footer__span {
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #FFC5C1;
  margin-left: 20px;
}

@media (max-width: 799px) {
  .footer__span {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 0;
  }
}

.footer__copyrights {
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: right;
  color: #A7C0BB;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 799px) {
  .footer__copyrights {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
}

.effects {
  margin: 64px 100px 0 100px;
  border-top: 1px solid #335C54;
}

@media (max-width: 799px) {
  .effects {
    margin: 64px 20px 0 20px;
  }
}

.effects__header {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: #FFC5C1;
  margin-top: 64px;
}

@media (max-width: 799px) {
  .effects__header {
    margin-top: 40px;
  }
}

.effects__paragraph {
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #A7C0BB;
  margin-top: 24px;
}

.procedures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 92px 40px 0 40px;
  background-color: #FFC5C1;
  padding: 120px 64px;
  border-radius: 16px;
}

@media (max-width: 799px) {
  .procedures {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 92px 10px 0 10px;
    padding: 120px 24px;
  }
}

.procedures__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 799px) {
  .procedures__column {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

.procedures__column--addMargin {
  margin: 0 23px;
}

@media (max-width: 799px) {
  .procedures__column--addMargin {
    margin: 100px 0;
  }
}

.procedures__logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.procedures__header {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: #012C23;
  margin: 24px 0;
}

.procedures__paragrph {
  font-family: Titillium;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #654C4A;
  padding: 10px 0;
  border-bottom: 1px solid #EBACA7;
}

.procedures__paragrph--noBorder {
  border: 0;
}

.procedures__icon {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  margin-right: 10px;
}

.moreLinks {
  margin: 0 40px;
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #335C54;
}

@media (max-width: 799px) {
  .moreLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 20px;
    text-align: center;
  }
}

.moreLinks__header {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: #FFC5C1;
}

@media (max-width: 799px) {
  .moreLinks__header {
    margin-top: 30px;
  }
}

.moreLinks__link {
  font-family: Titillium;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #A7C0BB;
}

.moreLinks__icon {
  margin-left: 12px;
}

@media (max-width: 799px) {
  .mobile {
    display: none;
  }
}

@media (min-width: 799px) {
  .desktop {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */