@import 'variables'
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap")
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700i&display=swap")
*

  margin: 0
  padding: 0
  box-sizing: border-box
  list-style: none
  text-decoration: none

body
  background-color: $greenColor
  font-family: 'Titillium Web', sans-serif
  font-family: 'Playfair Display', serif
  font-style: normal
  background-image: url("../img/backgroundWoman.png")
  background-repeat: no-repeat
  background-position: top right
  position: relative
.wrapper
  display: flex
  flex-direction: row
  flex-wrap: wrap
.nav
  position: absolute
  top: 0
  left: 0
  right: 0
  padding: 32px 32px 0 32px
  display: flex
  justify-content: space-between
  align-items: center
  flex-basis: 100%
  // background-color: $greenColor
  z-index: 4
  &.addNavBcg
    background-color: $greenColor
  @media (min-width: 799px)
    position: relative
    padding: 0
    margin: 64px 80px 0 80px

  &__logo
    flex-grow: 1
  &__list
    display: none
    font-family: Playfair Display
    font-style: normal
    font-weight: bold
    list-style: none
    background-color: $pinkColor
    &.activeMenu
      display: flex
      flex-direction: column
      position: absolute
      top: 92px
      left: 0
      right: 0
      padding: 40px 40px 0 40px
      font-size: 24px
      line-height: 58px
      text-align: left

      background-color: $pinkColor
      height: auto
      z-index: 1

    @media ( min-width:  799px)
      display: flex
      text-align: center
      position: relative
      align-items: center
      flex-direction: row
      color: $pinkColor
      position: relative
      top: 0
      height: auto
      background-color: transparent
      font-size: 20px
      line-height: 28px

  &__submenu
    display: flex
    flex-direction: column
    list-style: none
    font-family: Playfair Display
    font-style: normal
    font-weight: normal
    font-size: 24px
    line-height: 58px
    color: #000000
    background-color: $pinkColor

    @media( min-width: 799px  )
      display: none
      padding: 40px
      text-align: left
      background-color: $pinkColor
      font-size: 16px
      line-height: 40px
      font-weight: bold
      border: 0
  &__submenuItem
    border-top: 1px solid #EBACA7
    @media ( min-width: 799px )
      border-top: 0

  &__item
    margin: 0 20px
    border-bottom: 1px solid $darkPink
    @media( min-width: 799px  )
      border: 0

    &:hover
      @media( min-width: 799px  )
        border-bottom: 2px solid $pinkColor

      & .nav__submenu
        @media( min-width: 799px  )
          display: block
          position: absolute
          top: 30
          left: 20px
  &__link--resetStyle
    color: black

    @media ( min-width: 799px )
      color: $pinkColor
  &__ourServiceLink
    order: 1
    margin-top: 50px
    @media ( min-width: 799px )
      order: 0
      margin-top: 0
  &--noMobileMenu
    display: none
    @media ( min-width: 799px )
      display: block
  &--noDesktopMenu
    @media ( min-width: 799px )
      display: none

.header
  display: flex
  flex-direction: column
  align-items: center
  flex-basis: 100%
  &.header--alignLeft
    @media ( min-width: 799px )
      display: flex
      align-items: flex-start

  &__mainHeader
    font-family: Playfair Display
    font-style: normal
    font-weight: bold
    font-size: 140px
    line-height: 100px
    text-align: center
    color: $pinkColor
    margin: 140px 0 0 0
    &.header__mainHeader--alignLeft
      @media ( min-width: 799px )
        text-align: left
        font-size: 120px
        line-height: 120px
        margin-left: 100px
    @media ( max-width: 799px )
      font-size: 56px
      line-height: 56px

  &__paragraph
    width: 42.42%
    margin: 56px auto 24px auto
    font-family: Titillium
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 28px
    text-align: center
    color: $lightGreen
    @media ( max-width: 799px )
      font-size: 18px
      line-height: 26px
      width: 100%
      margin-top: 56px
      padding: 0 24px
    &.header__paragraph--alignLeft
      @media ( min-width: 799px )
        text-align: left
        margin: 56px 0 24px 112px
  &__contactLink:hover
    cursor: pointer
    color: blue

  &__contactButton
    display: block
    margin: 0 auto
    padding: 12px 52px
    background: $pinkColor
    border-radius: 8px
    font-family: Playfair Display
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 32px
    text-align: center
    color: $greenColor
    text-transform: uppercase
    &:hover
      color: #E59F9A
      cursor: pointer
.ourServices
  background-color: $pinkColor
  border-radius: 8px
  display: flex
  flex-wrap: wrap
  margin: 140px 40px 0 40px
  padding: 120px 64px
  justify-content: space-around
  @media ( max-width: 799px )
    border-radius: 0
    margin: 88px 0 0 0
    padding: 80px 24px

  &__header
    font-family: Playfair Display
    font-style: normal
    font-weight: bold
    font-size: 120px
    line-height: 120px
    text-align: left
    color: $greenColor
    padding-right: 20px
    padding-bottom: 79px
    flex-basis: 58%
    border-bottom: 1px solid #EBACA7
    @media ( max-width: 799px )
      font-size: 48px
      line-height: 120px
      flex-basis: 100%
      text-align: center
      padding-bottom: 0
      border-bottom: 0
      padding-right: 0
  &__paragraph
    flex-basis: 42%
    display: flex
    font-family: Titillium
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 28px
    align-items: flex-end
    color: $grayColor
    border-bottom: 1px solid #EBACA7
    padding-bottom: 79px
    @media ( max-width: 799px )
      flex-basis: 100%
      align-items: center
      text-align: center
      padding-bottom: 0
      border-bottom: 0

  &__service
    display: flex
    flex-direction: column
    flex-basis: 21%
    min-width: 338px
    flex-wrap: wrap
    align-items: space-evenly
    margin-top: 120px
    padding: 0 15px
    @media ( max-width: 840px )
      flex-basis: 100%
      align-items: center
      text-align: center
      min-width: auto
      padding: 0
    &--infoContainer
      display: flex
      background: $greenColor
      padding: 40px 24px
      border-radius: 16px

  &__icon
    align-self: flex-start
    @media ( max-width: 840px )
      align-self: center

  &__serviceheader
    font-family: Playfair Display
    font-style: normal
    font-weight: bold
    font-size: 26px
    line-height: 40px
    color: $greenColor
    width: 70%
    margin-top: 24px

  &__serviceheader--infoContainer
    color: #ffffff
    margin-top: 0
    width: 100%
  &__servicedescripton
    font-family: Titillium
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 28px
    color: $grayColor
    margin-top: 8px
  &__servicedescripton--infoContainer
    color: $pinkColor
    margin-top: 110px

  &__readMoreButton
    font-family: Titillium
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 28px
    text-decoration-line: underline
    color: $grayColor
    background: transparent
    border: 0
    align-self: flex-start
    @media ( max-width: 840px )
      align-self: center
    &:hover
      color: #5B3B39
      cursor: pointer
    &--addMargin
      margin-left: 12px
  &__callButton
    background-color: $pinkColor
    padding: 12px
    text-align: center
    border-radius: 8px
    margin-top: 10px

  &__callNumber
    font-family: Playfair Display
    font-style: normal
    font-weight: bold
    color: $greenColor
    font-size: 18px
    line-height: 32px
    text-decoration: none
    padding: 12px 40px

.aboutMe
  flex-basis: 100%
  display: flex
  justify-content: space-between
  position: relative
  @media ( max-width: 799px  )
    flex-direction: column
  &__img
    width: auto
    height: auto
    margin-top: 80px
    margin-left: 66px
    z-index: 2
    @media ( max-width: 799px  )
      margin: 0 auto
      width: auto
      height: auto
  &__flexboxContainer
    display: flex
    flex-direction: column
    justify-content: center
    align-self: center
    align-items: center

    flex-grow: 1

  &__header
    font-family: Playfair Display
    font-style: normal
    font-weight: bold
    font-size: 120px
    line-height: 120px
    color: $pinkColor
    margin-top: 192px
    max-width: 600px
    position: absolute
    top: 200px
    left: 405px
    margin: 0
    z-index: 1
    @media ( max-width: 799px  )
      position: relative
      top: 0
      left: 0
      font-size: 48px
      line-height: 46px
      text-align: center
      margin: 120px 40px 0 40px

  &__paragraph
    font-family: Titillium
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 28px
    color: $lightGreen
    margin-top: 440px
    margin-bottom: 80px
    margin-right: 20px
    max-width: 520px
    @media ( max-width: 799px  )
      font-size: 20px
      line-height: 28px
      text-align: center
      margin: 28px 35px 80px 35px
.priceListContact
  margin: 0 40px
  display: flex
  flex-basis: 100%
  @media ( max-width: 940px)
    margin: 0
    flex-direction: column

  &__wrapper
    width: 50%
    padding: 120px 64px 70px 64px
    @media ( max-width: 940px)
      width: 100%
      padding: 120px 24px
    &--priceList
      background-color: $pinkColor
      border-radius: 16px 0 0 16px
      @media ( max-width: 940px)
        font-size: 48px
        line-height: 46px
        border-radius: 0
    &--kontakt
      background-color: $lightGreen
      border-radius: 0 16px 16px 0
      @media ( max-width: 940px)
        border-radius: 0
  &__header
    font-family: Playfair Display
    font-style: normal
    font-weight: bold
    font-size: 80px
    line-height: 120px
    color: $greenColor
    @media ( max-width: 940px)
      text-align: center
  &__paragraph
    display: flex
    justify-content: space-between
    font-family: Titillium
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 48px
    color: $greenColor
    border-bottom: 1px solid #EBACA7
    &--noBorder
      border-bottom: 0
    &--pFooter
      font-size: 14px
      margin-top: 50px
      font-weight: bold
  &__contactContainer
    display: flex
    margin-top: 29px
    flex-direction: column
    align-items: center
    @media ( min-width: 940px )
      flex-direction: row
    &--changeMargin
      margin-top: 49px

  &__span
    font-weight: bold
  &__contactParagraph
    font-family: Titillium
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 28px
    color: $greenColor

  &__contact, &__callNumber
    font-family: Playfair Display
    font-style: normal
    font-weight: bold
    font-size: 26px
    line-height: 40px
    color: #012C23
    text-decoration: none
    @media ( min-width: 940px )
      margin-left: 20px
  &__callNumber
    margin: 0

    @media ( max-width: 799px )
      margin-left: 0
      margin-top: 12px
      margin-bottom: 32px

.footer
  display: flex
  justify-content: flex-end
  flex-basis: 100%
  margin: 48px 40px 100px 40px
  @media ( max-width: 799px )
    flex-direction: column
    align-items: center
    margin: 40px 30px 57px 30px
  &__logo
    opacity: 0.7
    @media ( max-width: 799px )
      order: 2
      margin: 24px auto 16px auto
      opacity: 1
    &:hover
      opacity: 1
  &__span
    font-family: Titillium
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 28px
    color: $pinkColor
    margin-left: 20px
    @media ( max-width: 799px )
      order: 3
      margin-left: 0
  &__copyrights
    font-family: Titillium
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 28px
    text-align: right
    color: $lightGreen
    flex-grow: 1
    @media ( max-width: 799px )
      order: 1
      text-align: center
.mobile
  @media (max-width: 799px)
    display: none
.desktop
  @media (min-width: 799px)
    display: none